@tailwind base;
@tailwind components;
@tailwind utilities;
/* note: [@tailwind `screens` has been renamed to `variants`](https://tailwindcss.com/docs/upgrade-guide#screens-layer-has-been-renamed) */
/* @tailwind variants; https://tailwindcss.com/docs/functions-and-directives#tailwind */
/* note: If [`@tailwind variants` is] omitted, Tailwind will append these classes to the very end of your stylesheet by default. [docs](https://tailwindcss.com/docs/functions-and-directives#tailwind) */

/* done: try out swyx's [100 bytes of CSS](https://twitter.com/swyx/status/1449472712720601088) [blog with explanation](https://dev.to/swyx/100-bytes-of-css-to-look-great-everywhere-19pd) */

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Light.woff2") format("woff2"),
    url("/fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Bold.woff2") format("woff2"),
    url("/fonts/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  /* note: from https://open-props.style */
  :root {
    --color-accent: 108 99 255;

    --color-text: 244 244 245; /* zinc-100 */
    --color-text-dark: 161 161 170; /* zinc-400 */
    --color-text-darker: 82 82 91; /* zinc-600 */
    --color-text-darkest: 24 24 27; /* zinc-900 */

    --color-bg: 24 24 27; /* zinc-900 */
    --color-bg-light: 82 82 91; /* zinc-600 */
    --color-bg-lighter: 212 212 216; /* zinc-300 */
    --color-bg-lightest: 244 244 245; /* zinc-100 */
  }

  /* @media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--brand-dark);

    --text1: var(--text1-dark);
    --text2: var(--text2-dark);

    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
  }
}

@media (prefers-contrast: less) {
  :root {
    --brand: var(--brand-dim);

    --text1: var(--text1-dim);
    --text2: var(--text2-dim);

    --surface1: var(--surface1-dim);
    --surface2: var(--surface2-dim);
    --surface3: var(--surface3-dim);
    --surface4: var(--surface4-dim);
  }
}

[color-scheme="grape"] {
  --brand: var(--brand-grape);

  --text1: var(--text1-grape);
  --text2: var(--text2-grape);

  --surface1: var(--surface1-grape);
  --surface2: var(--surface2-grape);
  --surface3: var(--surface3-grape);
  --surface4: var(--surface4-grape);
} */
}

@layer components {
  code[class*="language-"] {
    margin-bottom: 2rem;
  }
  .prose pre[data-lang] {
    position: relative;
  }
  .prose pre[data-lang]::after {
    content: attr(data-lang);
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.7rem;
    opacity: 0.7;
    display: inline-block;
    transform: translate(-16px, -24px);
    text-align: right;
    width: 200px;
    margin-left: -200px;
  }
}
