@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue-100: #e8f2ff;
  --color-blue-500: #4b96ff;
  --color-blueGray-500: #a9adc1;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e6e9ee;
  --color-gray-300: #dde0e4;
  --color-gray-400: #818890;
  --color-gray-500: #535661;
  --color-gray-600: #4b4c53;
  --color-gray-700: #3a3d4a;
  --color-gray-800: #2e3039;
  --color-gray-900: #1f2028;
  --color-green-100: #e7f9ed;
  --color-green-500: #30c85e;
  --color-green-600: #68d94a;
  --color-red-500: #ff4545;
  --color-yellow-500: #ffd644;

  --color-team-unknown: #818890;
  --color-team-blue: #36a3ff;
  --color-team-red: #ff4545;
  /* yellow in light mode is... hard */
  --color-team-yellow: #a08600;
  --color-yellow-500: #a08600;
}

@layer components {
  .prose pre[data-lang]::after {
    content: attr(data-lang);
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.7rem;
    opacity: 0.7;
    display: inline-block;
    transform: translate(-16px, -24px);
    text-align: right;
    width: 200px;
    margin-left: -200px;
  }
}
